<?xml-model href=""?>
<suite name="Selenium Suite">
	<test name="Smoke suite">
		<classes>
			<class name="com.example.tests.LoginTest"></class>
			<!--<class name="com.example.tests.LoginDataDriverTest"></class>
			<class name="com.example.tests.ParallelExcelTest"></class>-->
		</classes>
	</test>
</suite>