<?xml-model href=""?>
<suite name="Selenium Suite" parallel = "methods" thread-count="2">
	<test name="Smoke suite">
		<classes>
			<class name="com.example.tests.LoginTest"></class>
			<!--<class name="com.example.tests.LoginDataDriverTest"></class>
			<class name="com.example.testsParallelExcelTest"></class>-->
		</classes>
	</test>
</suite>